@import 'config';

@import '../node_modules/bulma/bulma';

@import 'navbar';
@import 'menu';

body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background: #ECF0F3;
}

html {
    height: 100%;
}

* {
    box-sizing: inherit;
}